.friends{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

@media screen and (min-width: 480px) {
    .friends{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
  }